name: Code Quality

on:
  pull_request:
  workflow_call:

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2

      - name: deno task check
        run: deno task check
