name: Deno Tests
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2

      - name: deno fmt
        run: deno fmt --check

      - name: deno lint
        run: deno lint

      - name: deno check
        run: deno check --doc

      - name: deno test (with coverage)
        env:
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        run: deno test -A --coverage --coverage-raw-data-only

      - name: Create coverage report
        run: deno coverage --exclude=./tests --lcov --output=cov.lcov

      - name: Upload coverage to Coveralls.io
        uses: coverallsapp/github-action@v2
